{% extends 'index.html' %}
{% block title %}
    Cards
{% endblock %}
{% block content %}
    <div class="container-fluid animatedParent animateOnce">
        <div class="tab-content my-3" id="v-pills-tabContent">
            <div class="tab-pane animated fadeInUpShort show active" id="v-pills-all" role="tabpanel" aria-labelledby="v-pills-all-tab">
                <div class="row my-3">
                    <div class="col-md-12">
                        <div class="card r-0 shadow">
                            <div class="table-responsive p-3">
                                <h5>My Cards</h5>
                                <br/>
                                {% if cards.count > 0 %}
                                <form>
                                    <table class="table table-striped table-hover r-0">
                                        <thead>
                                        <tr class="no-b">
                                            <th>LAST 4 DIGITS</th>
                                            <th>CVV</th>
                                            <th>EXPIRY STATUS</th>
                                            <th>ACTION</th>
                                        </tr>
                                        </thead>

                                        <tbody>
                                    {% for card in cards %}
                                        <tr>
                                            <td>{{ card.first_digits }}</td>
                                            <td>{{ card.cvv }}</td>
                                            <td class="
                                            {% if card.expired == 'Expired' %}
                                            text-danger
                                            {% else %}
                                            text-success
                                            {% endif %}
">{{ card.expired }}</td>
                                            <td><a href="#" onclick="delete_('{{ card.id }}')" class="btn btn-danger btn-sm">Remove</a></td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </form>
                                {% else %}

                                    <h6>You have not added any card yet.</h6>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--Add New Message Fab Button-->
    <a
            href="{% url 'add_card' %}"
            class="btn-fab btn-fab-md fab-right fab-right-bottom-fixed shadow btn-success"><i
            class="icon-add"></i></a>
    <form id="secret_form" action="{% url 'delete_card' %}" method="post">
    {% csrf_token %}
        <input type="hidden" name="secret_value" id="secret_value">
    </form>
{% endblock %}
{% block script %}
    <script>
        const delete_ = (id_)=>{
            let result = confirm("Delete Card?")
            if (result){
                let input_ = document.getElementById('secret_value')
                let form_ = document.getElementById('secret_form')
                input_.value = id_
                form_.submit()
            }
        }
    </script>
{% endblock %}