{% extends 'index.html' %}
{% block title %}
    Make Deposit
{% endblock %}
{% block content %}
    <div class="container-fluid my-3">
        <div class="d-flex row">
            <div class="col-md-7">
                    <!-- Basic Validation -->
                    <div class="card mb-3 shadow no-b r-0">
                        <div class="card-header white">
                            <h5 class="bolder">Make Deposit</h5>
                        </div>
                        <div class="card-body">
                            <form id="i_form" class="needs-validation" novalidate method="post" action="{% url 'deposit' %}">
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">Select Deposit Source</label>
                                            <select class="form-control" id="deposit_choice">
                                                <option selected value="">Select Deposit Source</option>
                                                <option value="1">From Saved Deposit Source</option>
                                                <option value="2">From New Deposit Source</option>
                                            </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row d-none" id="fund_source_saved">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">Select Fund Source</label>
                                            <select class="form-control" id="source_id" name="source_id">
                                                <option selected value="">Select Fund Source</option>
                                                {% for source in sources %}
                                                    <option value="{{ source.id }}">{{ source }}</option>
                                                {% endfor %}
                                            </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row d-none" id="fund_source_channel">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">Fund Source Channel</label>
                                            <select class="form-control" id="select_channel">
                                                <option selected value="">Select Channel</option>
                                                <option value="bank">From Bank</option>
                                                <option value="card">From Card</option>
                                            </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row d-none" id="card">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">Select a Card</label>
                                            <select class="form-control" id="card_id" name="card_id">
                                                <option selected value="">Select Card</option>
                                                {% for card in cards %}
                                                    <option value="{{ card.id }}">{{ card }}</option>
                                                {% endfor %}
                                            </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                 <div class="form-row d-none" id="bank_container">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom01">Select your Bank</label>
                                            <select class="form-control" name="bank" id="bank">
                                                <option selected value="">Select a Bank</option>
                                                {% for bank in banks %}
                                                    <option value="{{ bank }}">{{ bank }}</option>
                                                {% endfor %}
                                            </select>
                                        <div class="valid-feedback">
                                            Looks good!
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row d-none" id="account_number">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom03">Account Number</label>
                                        <input id="acct_number"  name="account_number" type="text" class="form-control"  placeholder="Enter your Account Number" required>
                                        <small id="amt_warn" class="text-danger d-none">

                                        </small>
                                    </div>
                                 </div>

                                 <div class="form-row">
                                    <div class="col-md-12 mb-3">
                                        <label for="validationCustom03">Amount</label>
                                        <input id="amount"  name="amount" type="text" class="form-control"  placeholder="Amount" required>
                                        <small id="amt_warn" class="text-danger d-none">

                                        </small>
                                    </div>
                                 </div>
                            </form>

                            <script>
                                // Example starter JavaScript for disabling form submissions if there are invalid fields
                                (function() {
                                    'use strict';
                                    window.addEventListener('load', function() {
                                        // Fetch all the forms we want to apply custom Bootstrap validation styles to
                                        var forms = document.getElementsByClassName('needs-validation');
                                        // Loop over them and prevent submission
                                        var validation = Array.prototype.filter.call(forms, function(form) {
                                            form.addEventListener('submit', function(event) {
                                                if (form.checkValidity() === false) {
                                                    event.preventDefault();
                                                    event.stopPropagation();
                                                }
                                                form.classList.add('was-validated');
                                            }, false);
                                        });
                                    }, false);
                                })();
                            </script>
                        </div>
                    </div>
                    <!-- #END# Basic Validation -->
                </div>
            <div class="col-md-5">
                <div class="card no-b shadow">
                    <div class="card-body">
                        <div class="my-4">
                            <span class="badge badge-success badge-pill">Deposit Information</span>

                        </div>
                         <div class="my-3">
                             <small id="show_card">Card</small>
                             <h3 id="show_card_number"></h3>
                             <small id="show_bank">Bank Name</small>
                             <h3 id="show_bank_name"></h3>
                             <small id="show_account">Account Number</small>
                             <h3 id="show_account_number"></h3>
                         </div>
                        <div class="my-3">
                            <div class="row">
                                <div class="col-md-6">
                                    <strong> <small>Deposited Amount: </small></strong>
                                  <div class="text-primary s-24 my-3"><span class="bolder">&#8358</span><span class="sc-counter" id="show_amt">0</span></div>
                                </div>
                                <div class="col-md-6">
                                    <strong> <small>Account Balance: </small></strong>
                                  <div class="text-primary s-24 my-3"><span class="bolder">&#8358</span><span class="sc-counter" id="show_acct_bal">0</span></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                     <button class="btn btn-success" id="sub" type="submit">Proceed</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}
    <script>

    let deposit_choice = document.getElementById('deposit_choice')
    let fund_source_c = document.getElementById('fund_source_saved')
    let source_channel_c = document.getElementById('fund_source_channel')
    let card_c = document.getElementById('card')
    let bank_c = document.getElementById('bank_container')
    let acct_c = document.getElementById('account_number')

    let source = document.getElementById('source_id')
    let show_bank = document.getElementById('show_bank')
    let show_bank_name = document.getElementById('show_bank_name')
    let show_account = document.getElementById('show_account')
    let show_acct_num = document.getElementById('show_account_number')
    let show_card = document.getElementById('show_card')
    let show_card_num =  document.getElementById('show_card_number')

    let select_channel = document.getElementById('select_channel')
    let card_id = document.getElementById('card_id')
    let bank = document.getElementById('bank')

    let acct_num = document.getElementById('acct_number')

    let amount = document.getElementById('amount')
    let show_amt = document.getElementById('show_amt')
    let show_acct_bal = document.getElementById('show_acct_bal')



    card_id.onchange = () =>{
        $.ajax({
            url: "{% url 'get_card' %}",
            data : {"card_id": card_id.value},
            json: true,
            success: (data)=>{
                show_card_num.innerText = data
            }
        })
    }

    bank.onchange =() =>{
        show_bank_name.innerText = bank.value
    }


    deposit_choice.onchange=()=>{
        let value = deposit_choice.value
        if (value === '1'){
            fund_source_c.className = 'form-row'
            acct_c.className = bank_c.className = source_channel_c.className = card_c.className  = 'form-row d-none'
            }
        else if(value === '2'){
            fund_source_c.className = 'form-row d-none'
            acct_c.className = bank_c.className = source_channel_c.className = card_c.className  = 'form-row'

        }
    }

    source.onchange = () =>{
        $.ajax(
            {
                url: "{% url 'get_source' %}",
                data: {"source_id": source.value},
                json: true,
                success:(data)=>{
                    if (data.hasOwnProperty('card')){
                         show_acct_num.className = show_bank.className = show_bank_name.className = show_account.className = 'd-none'
                        show_card.className =  show_card_num.className = ''
                        show_card_num.innerText = data['card']
                    }else if (data.hasOwnProperty('bank')){
                        show_card.className =  show_card_num.className = 'd-none'
                        show_acct_num.className = show_bank.className = show_bank_name.className = show_account.className = ''
                        show_acct_num.innerText = data['account_number']
                        show_bank_name.innerText = data['bank']
                    }
                }

            }
        )
    }

    select_channel.onchange =()=>{
        let value = select_channel.value
        if (value === 'bank'){
            acct_c.className = bank_c.className = 'form-row'
            card_c.className  = 'form-row d-none'
            show_card.className =  show_card_num.className = 'd-none'
            show_acct_num.className = show_bank.className = show_bank_name.className = show_account.className = ''
        }else if (value === 'card'){
            acct_c.className = bank_c.className = 'form-row d-none'
            card_c.className  = 'form-row'
            show_card.className =  show_card_num.className = ''
            show_acct_num.className = show_bank.className = show_bank_name.className = show_account.className = 'd-none'
        }
    }

    acct_num.onkeyup = () =>{
        show_acct_num.innerText = acct_num.value
    }

    amount.onchange =()=>{
         $.ajax({
                url: "{% url 'account_balance' %}",
                json: true,
                success:(data)=>{
                    show_amt.innerText = amount.value
                    let acct_balance = Number(data) + Number(amount.value)
                    show_acct_bal.innerText = acct_balance.toString()
                }
            })
    }

      let form = document.getElementById('i_form')
      let submit_button = document.getElementById('sub')
       submit_button.onclick=()=>{
          if (validate_form()){
              let otp = prompt('Please put in your 6 Digit Bank OTP')
              if (isNaN(Number(otp)) || otp.length !== 6){
                  alert('Invalid OTP')
              }else{
                  form.submit()
              }
          }

      }

   const validate_form =()=>{
       let bank = document.getElementById('show_bank_name')
       let acc__num = document.getElementById('show_account_number')
       let account = document.getElementById('show_acct_bal')

       if (bank.className !== 'd-none' && (bank.innerText === 'undefined' || bank.innerText === '')){
           alert('No Bank Selected')
           return false
       }
       if (show_card_num.className !== 'd-none' && (show_card_num.innerText === 'undefined' || show_card_num.innerText === '')){
           alert('No Card Selected')
           return false
       }
       if (acc__num.className !== 'd-none' && (isNaN(Number(acc__num.innerText)) || acc__num.innerText === '')){
           alert('Invalid Account Number')
           return false
       }
       else if (isNaN(Number(show_amt.innerText)) || Number(show_amt.innerText) <= 0) {
           alert('Invalid Amount')
           return false

       }else{
           return true
       }
   }








   </script>
{% endblock %}