{% extends 'index.html' %}
{% load static%}
{% block title %}
    Login
{% endblock %}
{% block content %}
    <main>
    <div id="primary" class="height-full">
        <div class="container"  style="margin-bottom: 50px">
            <div class="row">
                <div class="col-lg-4 mx-md-auto">
                    <div class="text-center">
                        <br/>
                        <i style="font-size: 100px; color: #12ce04" class="icon icon-account_balance_wallet"></i>
                        <h3 class="mt-2 bolder">Welcome To <span class="text-dark">UNN<span class="text-success">E-Wallet</span></span></h3>

                    </div>
                    <form action="{% url 'login' %}" method="post">
                        {% csrf_token %}
                        <div class="form-group has-icon"><i class="icon-envelope-o"></i>
                            <input type="email" name="email" class="form-control form-control-lg"
                                   placeholder="Email">
                        </div>
                        <div class="form-group has-icon"><i class="icon-user-secret"></i>
                              <input name="password" type="password" id="password" class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="addon-wrapping">
                        </div>
                        <input type="submit" class="btn btn-success btn-lg btn-block text-dark" value="Log In">
                        <p class="forget-pass text-center"><a href="{% url 'forgot_password' %}">Forgot Password ?</a></p>
                        <a href="{% url 'signup' %}" class="btn btn-secondary btn-lg btn-block text-white">Don't have an account?</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- #primary -->
</main>
{% endblock %}
{% block script %}

{% endblock %}